<GridLayout row="0" col="0" rowSpan="4" colSpan="2" rows="auto, auto, auto" columns="*,*" verticalAlignment="center"
    class="select-date" id="selectDateGridLayout">
    <Label row="0" col="0" colSpan="2" text="Select Date" class="title-select-date"></Label>
    <DatePicker row="1" col="0" colSpan="2" [(ngModel)]="dateSelector" (dateChange)="onDateChanged($event)"
        verticalAlignment="center"></DatePicker>
    <Button borderRadius=10 row="2" col="0" text="Cancel" class="btn-next" (tap)="onCloseSelectDate(true)"></Button>
    <Button borderRadius=10 row="2" col="1" text="OK" class="btn-previous" (tap)="onCloseSelectDate(false)"></Button>
</GridLayout>
