<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Return Items"></Label>
</ActionBar>

<GridLayout rows="10,40,*,5,50" columns="2*,*,*,*" marginBottom=".3%" class="page page-content">
    <GridLayout row="0" col="0" colspan="4" backgroundColor="lightgray"></GridLayout>
    <GridLayout row="1" col="0" colspan="4" columns="2*,*,*,*" backgroundColor="lightgray">
        <!-- <Label style="font-size: 18; color: blue;text-align: center;" col="1" class="description-label"
            text="Product Code" class="list-group-item-heading"></Label> -->
        <Label col="0" text="Product Code" style="font-size: 15; color: blue;text-align: center;"></Label>
        <Label col="1" text="Qty" style="font-size: 15; color: blue;text-align: center;"></Label>
        <Label col="2" text="Return Qty" style="font-size: 15; color: blue;text-align: center;"></Label>
        <Label col="3" style="font-size: 15; color: blue;text-align: center;"></Label>
    </GridLayout>

    <ListView row="2" col="0" colspan="4" [items]="products" class="list-group">
        <ng-template let-item="item">
            <GridLayout columns="2*,*,*,*" class="item list-group-item">
                <Label col="0" style="text-align: center" [text]="item.id" class="list-group-item-text"></Label>
                <Label col="1" style="text-align: center" [text]="item.quantity" class="list-group-item-text"></Label>
                <TextField keyboardType="number" style="text-align: center" [(ngModel)]="item.returnQty" hint="---"
                    col="2"></TextField>
                <Switch col="3" class="m-14" [checked]="item.isChecked" [(ngModel)]="item.isChecked"></Switch>


                <!-- <Label col="1" colSpan="3"  [text]="item.id" class="list-group-item-heading"></Label>
                <Label col="5"   [text]="item.quantity" class="list-group-item-heading"></Label> -->
            </GridLayout>
        </ng-template>
    </ListView>

    <!-- <TextView row="2" col="1" colSpan="2" [text]="description" [editable]="editState"></TextView> -->
    <GridLayout row="4" col="0" colSpan="4" rows="*,5" columns="*,10,*">
        <Button row="0" col="0" text="Cancel" borderRadius=15 class="btn-previous" id="btnPrevious" style="color: white"
            backgroundColor="blue"></Button>
        <Button row="0" col="2" text="Return" borderRadius=15 class="btn-previous" id="btnPrevious" (tap)="submit()"
            backgroundColor="blue" style="color: white"></Button>
    </GridLayout>
</GridLayout>
